/* ! Reset */
body,
html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--dark-color);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
}

img {
    height: auto;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd
}

/* -------------------------------------------------------------------------------- */
/* ! Custom properties */
/* -------------------------------------------------------------------------------- */
:root {
    --big_areas-color: #51686F;
    --black-color: #000;
    --white-color: #fff;
    --highlight-color: #FCBF49;
    --testi-color: #FBF4E6;
    --cool_grey-color: #46687B;
    --sfondo-color: #052130;
    --dark-color: #010d10;
}

/* -------------------------------------------------------------------------------- */
/* ! Tytle System */
/* -------------------------------------------------------------------------------- */
.text-0 {
    font-size: 5rem;
    line-height: 1;
}

h1,
.text-1 {
    font-size: 3rem;
    font-family: 'Roboto slab', serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 110%;
}

h2,
.text-2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -1.7%;
    text-transform: uppercase;
}

h3,
.text-3 {
    font-size: 2.25rem;
}

h4,
.text-4 {
    font-size: 0.9375rem;
}

p {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .text-0 {
        font-size: 4rem;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Button system */
/* -------------------------------------------------------------------------------- */
.button {
    font-size: 1.2rem;
    background: #333;
    color: #fff;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background: #000;
}

.button--small {
    padding: 10px 20px;
    font-size: 1rem;
}

.button--round {
    background: #fff;
    color: #000;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 100px;
}

.button--round:hover {
    background: #000;
    color: #fff;
}

.button--round-outline {
    background: transparent;
    color: #fff;
    padding: 3px 7px;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid var(--white-color);
}

.button--round-outline:hover {
    transform: scale(1.04);
    background: transparent;
    border: 2px solid var(--highlight-color);
    transition: all 0.2s ease;
} 

.button__arrow{
    font-size: 1.3rem;
    font-weight: 800;
}

/* -------------------------------------------------------------------------------- */
/* ! Components */
/* -------------------------------------------------------------------------------- */
/* ! Header */
.header {
    color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-size: 0.875rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1535px;
    padding-top: 150px;
    margin: 0 auto;
}

.header a {
    color: var(--white-color);
    display: inline-block;
    padding: 15px;
}

.header__logo {
    font-weight: bold;
    font-size: 1rem;
}

.header__menu {
    margin-bottom: 0;
}

.header ul {
    margin-bottom: 0;
    display: flex;
}

.header__menu li,
.header__quickMenu li {
    display: inline-flex;
    align-items: center;
}

.header__quickMenu li {
    padding: 0 8px;
}

.header__quickMenu li a i {
    font-size: 0.9375rem;
}

.header__menu li a {
    padding: 15px 0;
}

.header__menu li:not(:last-child):after {
    content: '/';
    margin: 0 3px 0 3px;
}

@media (max-width: 768px) {
    .header__content {
        padding: 30px 20px;
        position: absolute;
        width: 100%;
    }

    a.header__logo {
        padding: 15px 0;
    }

    .header__quickMenu {
        position: absolute;
        bottom: -88vh;
        left: 0;
        padding: 0 9%;
    }
}

/* ! Hero */
.hero {
    color: var(--testi-color);
    padding: 20px;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sfondo-color);
    opacity: 0.8;
    z-index: -1;
}

.hero__title,
.hero__info {
    padding: 15% 9% 0 9% !important;
}

.hero__info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero__info__button {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .hero__info__button {
        margin-top: 0;
    }
}

/* ! Biography */
#biography {
    background: #010d10;
    color: var(--white-color);
}

#biography p {
    font-size: 0.9375rem;
    font-weight: 400;
}

a #content-secondary-button {
    display: inline;
    margin-top: 1rem;
    text-align: left;
}

/* to display button at right */
.m-auto {
    margin-left: auto;
}

@media (max-width: 768px) {
    #biography {
        padding: 20vh 15px;
    }

    #biography h2 {
        text-align: left;
    }
}

/* ! Expertise square */
.square {
    aspect-ratio: 1 / 1;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:nth-child(:first-child):hover {
    border: 20px solid green;
}

.square h3 {
    font-family: 'Roboto slab', serif;
    background: var(--black-color);
    color: var(--white-color);
    line-height: 120%;
}

/* ! Footer */
.footer {
    background: linear-gradient(#052130, #000);
    padding-top: 30px;
    color: var(--testi-color);
    font-size: 0.8125rem;
}

.footer a {
    color: var(--testi-color);
}

.footer__logo {
    letter-spacing: 3%;
    font-size: 0.9375rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer__credits {
    font-size: 0.75rem;
    opacity: 0.27;
}

@media (max-width: 768px) {
    .footer__logo {
        text-align: center;
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--testi-color);
    }

    .footer__info {
        padding-top: 15px !important;
    }

    .footer__email_label {
        visibility: hidden;
        position: relative;
    }

    .footer__email_label:after {
        content: 'Mail: ';
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer__social.show-mobile {
        gap: 30px;
        text-align: center;
        padding: 50px 0;
        margin: 0;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Grid system */
/* -------------------------------------------------------------------------------- */
.grid {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto;
}

.grid--large {
    max-width: 100%;
}

.grid--small {
    max-width: 900px;
}

.grid--center {
    justify-content: center;
}

/* ! Columns */
[class*='col-'] {
    /* border: 1px solid red; */
    padding: 10px;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.33%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

@media (max-width: 768px) {
    [class*='col-'] {
        width: 100%;
    }

    .sma-25 {
        width: 25%;
    }

    .sma-33 {
        width: 33.33%;
    }

    .sma-50 {
        width: 50%;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Helpers */
/* -------------------------------------------------------------------------------- */
.debug {
    border: 1px solid red;
}

.active {
    font-weight: bold;
}

.evi {
    color: var(--highlight-color);
}

.hide {
    display: none;
    transition: all 0.4s ease;
}

/* ! To show/hide link social */
.show-mobile {
    display: none;
}

@media (max-width: 768px) {
    .show-mobile {
        display: flex;
    }

    .hidden-mobile {
        display: none;
        position: absolute;
        height: 0px;
    }
}

.font-bold {
    font-weight: bold;
}

.img-res {
    width: 100%;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

/* ! Padding */
.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.icon-small {
    width: 40px;
    padding: 8px;
}

.icon-white {
    filter: invert(1);
}

.bg-dark {
    background: #000;
}

.text-white {
    color: #fff;
}

.v-center {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.font-normal {
    font-weight: 400;
}

.none {
    display: none;
}

@media (max-width: 768px) {
    .sma-none {
        display: none;
    }
}